.article-clean .intro h1 {
  color: #c9e265;
}

.features-clean .carousel {
  /*background-color: #ffeb9e;*/
  background-color: #ddd4b0;
  /* height: 400px; */
}

.features-clean .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.features-clean .carousel-item {
  display: block;
  color: #96815f;
}

#carousel .text-box {
  background-color: #ddd4b0 !important;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 32px;
}

#carousel .text-box h2 {
  color: #96815f;
  /* font-weight: bold; */
  font-size: 30px;
}

#carousel .text-box .description {
  color: #96815F;
  font-size: 18px;
  padding: 5px;
}

@media (max-width: 768px) {
  .features-clean .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  }

  #carousel .text-box h2 {
    font-size: 30px;
  }
  
  #carousel .text-box .description {
    font-size: 17px;
    padding: 7px;
  }
}

.team-boxed .container {
  vertical-align: middle;
  justify-content: center;
}

.team-boxed {
  background-color: #FFFCEC;
  font-family: "Open Sans", Arial, sans-serif;
}

.team-boxed .row .featurette {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.team-boxed .description {
  font-size: 18px;
  margin: 15px auto 20px auto;
  width: 70%;
}

.team-boxed p {
  color: #867251;
  font-size: 15px;
}

.team-boxed h2 {
  /*color: #c9e265 !important;*/
  color: #b3ab8f !important;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 50px;
  font-size: 40px;
  font-weight: 800 !important;
  width: 50%;
}

.team-boxed .cite1 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.team-boxed .social {
  font-size: 22px;
  color: #959da5;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

@media (max-width:737px) {
  .team-boxed h2 {
    width: 80%;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 29px;
  }

  .team-boxed .description {
    font-size: 16px;
  }
}

.team-boxed .box {
  text-align: left;
  padding: 30px;
  background-color: #FFF;
  margin-bottom: 30px;
}

#box-2 {
  background-color: #FFF !important;
}

#box-3 {
  background-color: #FFF !important;
}