.features-clean {
  color: #313437;
  background-color: #FFFCEC;
  padding-bottom: 10px;
  font-family: "Open Sans", Arial, sans-serif;
}

@media (max-width:767px) {
  .features-clean {
    padding-bottom: 10px;
  }
}

.features-clean p {
  color: #7d8285;
}

.features-clean h3 {
  /*font-weight: bold;*/
  margin-bottom: 40px;
  padding-top: 35px;
  color: inherit;
  text-align: center;
}

@media (max-width:767px) {
  .features-clean h3 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 60px;
}

@media (max-width:767px) {
  .features-clean .intro {
    margin-bottom: 40px;
  }
}

.features-clean .item {
  min-height: 100px;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #505e6c;
  font-size: 15px;
}

@media (max-width:767px) {
  .features-clean .item {
    min-height: 0;
  }
}

.features-clean .item .name {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #505e6c;
}

.features-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
  color: #505e6c;
}

.features-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
  color: #505e6c;
}

.features-clean .item .icon {
  font-size: 40px;
  color: #1485ee;
  float: left;
  margin-left: -65px;
}

.features-clean .row {
  background-color: #f5f0d4 !important;
}