/* Custom properties/variables  */
:root {
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 0 #ffffff;
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 3rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.0rem;
  padding: 2rem;
  color: #000000;
}

.nav-list a:hover {
  background: #ffffff;
}

/* Home section */

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background: #ffffff;
  }
  
  .home-section-header > h2 {
    font-family: 'Playfair Display', serif;
    font-size: 14rem;
    /* color: #CAE168; */
    color: #000000;
  }
  
  @media (max-width: 28.75em) {
    .home-section-header > h2 {
      font-size: 4rem;
      color: #000000;
    }
  }
  
  .home-section-header > h3 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #000000;
  }
  
  @media (max-width: 28.75em) {
    .home-section-header > h3 {
      font-size: 2rem;
      color: #000000;
    }
  }

  .home-section-header > p {
    font-style: italic;
    color: #000000;
  }
  
  .home-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .home-details {
    font-size: 2.4rem;
    /* text-shadow: 2px 2px 1px #080808; */
    transition: transform 0.3s ease-out;
    color: #000000;
  }
  
  .home-details:hover {
    transform: translateY(8px);
  }


/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #ffffff;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #ffffff;
  color: #000000;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
    color: #000000;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #ffffff;
  box-shadow: .5px .5px .5px rgb(212, 210, 210);
  border-radius: 2px;
}

.code {
  color: #ffffff;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ffffff;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: #000000;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: #ffffff;
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: #ffffff;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}




/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: #ffffff;
}

.contact-section-header > h2 {
  font-size: 6rem;
  color: #000000;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
    color: #000000;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  /* text-shadow: 2px 2px 1px #080808; */
  transition: transform 0.3s ease-out;
  color: #000000;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  vertical-align: middle;
  font-weight: 100;
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #ffffff;
  border-top: 4px solid #ffffff;
  color: #000000;
}

footer > p {
  vertical-align: middle;
  margin: 2rem;
  color: #000000;
}

footer a {
  vertical-align: middle;
  margin: 2rem;
  color: #000000;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
    color: #000000;
  }
}

#myVideo { 
  width: 1440px;
  height: 900px;
}

#container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}
#videobcg {
    width: inherit;
    height: inherit;
    -o-filter: blur(4px);
    filter: blur(4px);
    object-fit: cover;
    transform: scale(1.04);
}

.logo {
  width: 80vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}