html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;     
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #afb8b2;
    color: rgb(96, 100, 96);
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navlink {
    list-style: none;
    margin: 0;
}

.navlink a {
    color: rgb(96, 100, 96);
    text-decoration: none;
    font-size: 1.2em;
    margin: 15px;
}

.burger {
    font-size: 1.2em;
    display: none;
}

@media screen and (max-width: 1000px) {
    .burger {
        display: block;
    }
    .nav {
        margin: 0;
        background: #afb8b2;
        position: absolute;
        right: -100%;
        top: 70px;
        width: 50%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        transition: all 400ms;
    }
    .navlink {
        text-align: center;
    }

    .nav-active {
        right: 0;
    }
}

/* Index Page Rule Set Begin */
section#hero{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 100px;
  }
  /* Index Page Rule Set End */
  
  /* Treatments Page Rule Set Begin */
  section#treatments{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 50px;
  }
  /* Treatments Page Rule Set End */
  
  /* Practitioners Page Rule Set Begin */
  section#practitioners{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 50px;
  }
  /* Practitioners Page Rule Set End */
  
  /* Testimonials Page Rule Set Begin */
  section#testimonials{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 50px;
  }
  /* Testimonials Page Rule Set End */
  
  /* Events Page Rule Set Begin */
  section#events{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 50px;
  }
  /* Events Page Rule Set End */
  
  /* Blog Page Rule Set Begin */
  section#blog{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 50px;
  }
  /* Blog Page Rule Set End */
  
  /* FAQs Page Rule Set Begin */
  section#faqs{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 50px;
  }
  /* FAQs Page Rule Set End */
  
  /* About Page Rule Set Begin */
  section#about{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 50px;
  }
  /* About Page Rule Set End */
  
  /* Contact Page Rule Set Begin 
  section#contact{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 50px;
  }*/

  #contact h1{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 27, 24);
    font-size: 50px;
  }

  /* Contact Page Rule Set End */
  
  /* Footer Rule Set Begin */
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
  }
  /* Footer Rule Set End */