/* Generic Rule Set Begin */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  margin:0;
  font-family: 'Playfair Display', serif;     
}

a { 
  text-decoration: none; 
}

ul { 
  display: inline-block;
  list-style-type: none; 
}

ul li{
  display: inline;
  font-size: 20px;
}

ul li a { 
  color: rgb(0, 0, 0); 
  padding: 15px;
}
/* Generic Rule Set End */

/* Header Rule Set Begin */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(220, 226, 220);
}
/* Header Rule Set End */

/* Index Page Rule Set Begin */
section#hero{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 27, 24);
  font-size: 100px;
}
/* Index Page Rule Set End */

/* Treatments Page Rule Set Begin */
section#treatments{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 27, 24);
  font-size: 100px;
}
/* Treatments Page Rule Set End */

/* Practitioners Page Rule Set Begin */
section#practitioners{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 27, 24);
  font-size: 100px;
}
/* Practitioners Page Rule Set End */

/* Testimonials Page Rule Set Begin */
section#testimonials{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 27, 24);
  font-size: 100px;
}
/* Testimonials Page Rule Set End */

/* Events Page Rule Set Begin */
section#events{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 27, 24);
  font-size: 100px;
}
/* Events Page Rule Set End */

/* Blog Page Rule Set Begin */
section#blog{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 27, 24);
  font-size: 100px;
}
/* Blog Page Rule Set End */

/* FAQs Page Rule Set Begin */
section#faqs{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 27, 24);
  font-size: 100px;
}
/* FAQs Page Rule Set End */

/* About Page Rule Set Begin */
section#about{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 27, 24);
  font-size: 100px;
}
/* About Page Rule Set End */

/* Contact Page Rule Set Begin */
section#contact{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

#contact h1{
  color: rgb(24, 27, 24);
  font-weight: 800;
  line-height: 0.5;
  font-size: 2.5rem;
}
/* Contact Page Rule Set End */

/* Footer Rule Set Begin */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 25px;
}
/* Footer Rule Set End */