.treatments-clean {
  background: #ffffff;
  padding: 80px 0;
}

.treatments-clean h2 {
  font-weight: bold;
  padding-top: 50px;
  color: hsl(210, 15%, 37%);
  font-size: 30px;
}

@media (max-width:767px) {
  .treatments-clean {
    padding: 20px 0;
  }
}

.card-body {
  font-family: "Open Sans", Arial, sans-serif;
  color: #96815f;
  font-size: 18px;
}

.card-heading {
  font-family: "Open Sans", Arial, sans-serif;
  color: #96815f;
  font-size: 23px;
}
