<div class="footer-basic" id="sticky-footer" style="background-color: #b7bbb7;">
    <footer>
        <div class="social" style="color:#ffffff">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <p class="copyright" style="color:#ffffff">SolReiki © 2020</p>        
        <p class="copyright" style="color:#ffffff">
            <a href="#" target="_blank" style="color: #ffffff">Terms | </a>
            <a href="#" target="_blank" style="color: #ffffff">Privacy Policy | </a> 
            <a href="{{ url_for('blogeditable') }}" target="_blank" style="color: #ffffff">Admin</a>
        </p>
        <p class="copyright" style="color:#ffffff"><a href="https://www.code.sydney" target="_blank" style="color: #ffffff">Web Development by Code.Sydney</a></p>
    </footer>
</div>