{% extends 'layout.html' %}
{% block content %}
  <!-- About -->
  <section id="about">
    <div></div>
    <div class="article-clean">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                  <div class="intro">
                      <h1 class="text-center">About us</h1>
                  </div>
              <div class="text"></div>
           </div>
        </div>
     </div>
  </div>

  <div class="features-clean">
    <div class="container-fluid">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel slides -->
            <div class="carousel-inner" role="listbox">
                <!-- /.carousel-item 1-->
                <div class="carousel-item active">
                    <div class="container">
                        <div class="text-box d-flex row justify-content-center align-items-center">
                            <div class="flex-column col-md-8 flex-wrap">
                                <h2 class="name lead">Our Mission</h2>
                                <p class="description">Our mission is to teach you how to heal yourself.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.carousel-item 2-->
                <div class="carousel-item">
                    <div class="container">
                        <div class="text-box d-flex row justify-content-center align-items-center">
                            <div class="flex-column col-md-8 justify-content-around flex-wrap">
                                <h2 class="name lead">Our Aim</h2>
                                <p class="description">
                                Our aim is to make Reiki accessible to everyone.<br/>
                                <ol class="content1">
                                    <li>Make treatments easy to access anytime, anywhere.</li>
                                    <li>Provide clear, easy-to-understand Reiki training for self-healing.</li>
                                    <li>Demystify the technique.</li>
                                </ol>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.carousel-item 3-->
                <div class="carousel-item">
                    <div class="container">
                        <div class="text-box d-flex row justify-content-center align-items-center">
                            <div class="flex-column col-md-8 justify-content-around flex-wrap">
                                <h2 class="name lead">SolReiki Founders</h2>
                                <p class="description">We — Adam, Adele and Nid — are intuitive healers who are passionate to empower you in your own healing journey. At SolReiki, we believe that everyone can live to their maximum potential. Let us help you take the stress out of life and recharge your batteries.</p>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /.carousel-buttons -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        <!-- /.End carousel -->
        </div>
    </div>
  </div>  

    <div class="container-fluid">
        <div class="team-boxed">
            <div class="row featurette">
                <div class="col-md-8 item">
                    <h2 class="featurette-heading name">Hi. I’m Adam.</h2>
                    <p class="lead description">
                        After an experience of Oneness in the foothills of Greece 20 years ago, I became a student of ancient teachings, practicing Buddhism and Kundalini meditation. I took this further by becoming a qualified teacher of Vedic meditation, a Reiki Master and a breathwork facilitator.
                        We are all connected to Universal energy, which can help us balance and heal our mind, body and spirit. Reiki is a wonderful, gentle and non-intrusive healing art from Japan, and is a relaxing experience. Through my intuitive connection to spirit, I create a calm, caring and easy environment in which you can relax deeply and let your body heal. Reiki is a fast and effective method for you to improve your wellness in the modern world. As a Reiki Master, I can teach you to treat yourself with SolReiki’s empowering trainings.
                                </br></br>
                                Qualifications:</br>
                                <em>Reiki Master</em><br/>
                                <em>Vedic meditation teacher</em><br/>
                                <em>Breathwork facilitator</em><br/>
                                <em>Pranic Healing</em><br/>
                                <em>Access Consciousness</em><br/>
                                <em>Violet Flame</em><br/>
                        
                        <p class="cite1"><cite>‘Be who you’re meant to be.’</cite><br/> – Adam Baldwin</p>    
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </p>
                    </div>
                    <div class="col-md-4 box">
                        <div class="container d-flex align-items-center">
                            <img class="featurette-image img-fluid mx-auto" src="../static/img/adam.png" alt="Adam">
                        </div>
                        </div>
            </div>
            
            <div class="row featurette">
                    <div class="col-md-8 order-md-2 item">
                        <h2 class="featurette-heading name">Hi. I’m Adele.</h2>
                        <p class="lead description">
                            I’m an intuitive healer and an empath. I learned to meditate and became a yogi to overcome a chronic illness and life-long anxiety. This led to a change in career from neuroscience researcher to yoga and meditation teacher. I first learned Reiki to help manage my own energy and that of my family, and this has expanded to include my community. For me, Reiki was a natural development as a daily meditation and mindfulness practice and melded perfectly with yogic philosophy. 
                                
                            My extensive passion for natural healing modalities has led me to self-study and live the principles of Traditional Chinese Medicine and Ayurveda, and to seek formal training and mentoring in shamanic healing practices and meridian-based yoga therapy. 
                            
                            When I’m treating clients, I love seeing people connect to their own inner spirit and source of personal healing power. I see what the spirit needs and assist the healing process with love and understanding. I serve the highest good of each person — to be heard, cared for and supported in a loving and safe environment. 
                        </br>
                                Qualifications:<br/>
                                <em>Reiki Master</em><br/> 
                                <em>Hatha Yoga teacher (diploma)</em><br/>
                                <em>Children’s Yoga Therapy teacher (Zenergy Yoga)</em><br/>
                                <em>PhD Neuroscience (University of Tasmania)</em><br/>
                                <em>Editor and writer</em><br/>
                                <em>Member of Yoga Australia</em><br/>
                              
                            <p class="cite1"><cite>‘You have the power within you to heal yourself.’</cite><br/> – Adele Vincent</p> 
                        </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                    <div id="box-2" class="col-md-4 order-md-1 box">
                            <img clas="featurette-image img-fluid mx-auto" src="../static/img/adele.png" alt="">
                    </div>
            </div>
                
            <div class="row featurette">
                    <div class="col-md-8 item">
                        <h2 class="featurette-heading name">Hi. I’m Nid.</h2>
                        <p class="lead description">
                            I’m an intuitive healer, mentor and empath. Throughout my life I was hypersensitive to others and receiving messages from alternative worlds. This contributed to 30 years of depression and anxiety struggles. Only after a head injury and years of healing work did I learn how these challenges were my gifts. Through Reiki healing I felt calm, balanced emotions and allowed myself to let go of my fears. This led me to meditation practices and deepened my practice of yoga philosophy to live each day.
                                
                            My role is to provide a safe space for my clients to allow healing to occur and always see their beauty. When they are ready to receive what serves them best, I witness the most beautiful blossomings of the soul embodied in human form. Reiki healing is a magical experience to share with someone as it brings pure loving energy through them so that they can be their best self in any given moment.
                            <br/>
                            Qualifications:<br/>
                            <em>Reiki Level II</em><br/> 
                            <em>Yoga Nidra teacher</em><br/> 
                            <em>Raja Meditation and Pranayama teacher</em><br/> 
                            <em>Vinyasa; Restorative Yoga Teacher</em><br/> 
                            <em>Soul Realignment Practitioner</em><br/> 
                            <em>Raynor Massage Therapist (diploma)</em><br/> 
                            <em>STOTT Pilates, Boxilates, Dance and Fitness instructor (diplomas)</em><br/> 
                            <em>English solicitor and barrister</em><br/> 
                            <p class="cite1"><cite>‘Fall in love with living and being you.’</cite><br/> – Nid Ra</p>
                        </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                    <div id="box-3" class="col-md-4 box">
                        <img class="featurette-image img-fluid mx-auto" src="../static/img/nid.png" alt="">
                    </div>
            </div>
        </div>
    </div>
     
  </section>
  <!-- About Ends -->
{% endblock content %}