{% extends 'layout.html' %}
{% block content %}
  <!-- Contact -->
  <section id="contact">
    <div></div>
    <div class="article-clean">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                  <div class="intro">
                      <h1 class="text-center">Admin Login</h1>
                  </div>
              <div class="text"></div>
           </div>
        </div>
     </div>
  </div>
  <div class="login-clean">
    <form method="post">
    <form name="login" id="login" method="POST" action="{{ url_for('adminlogin') }}" novalidate>
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-secondary" id="loginbutton" value="login" name="btn_login">Log In</button>
        </div>
        {% if error %}
           <p class="error"> {{ error }}
        {% endif %}
    </form>
  </div>
  </section>
  <!-- Contact Ends -->
{% endblock content %}