{% extends 'layout.html' %}
{% block content %}
  <!-- Blog -->
  <section id="blog">
    <div></div>
    <div class="article-clean">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                  <div class="intro">
                      <h1 class="text-center">Blog</h1>
                      <!--<img class="img-fluid" src="static/img/sol.jpg">-->
                  </div>
                  <div class="text"></div>
              </div>
          </div>
      </div>
  </div>
  <div data-bs-parallax-bg="true" style="height:500px;background-image:url(static/img/home-sun.jpg);background-position:center;background-size:cover;"></div>
  <p></p>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}
                <div class="post-preview">
                    <a href="{{ url_for('edit', post_id=post.id) }}">
                        <h2 class="post-title">
                        {{ post.title }}
                        </h2>
                    </a>
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                    <p class="post-meta">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
                </div>
                <hr>
            {% endfor %}
            </div>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
        <a class="btn btn-dark action-button my-button" role="button" href="{{ url_for('add') }}">Add new post</a>
        </div>
        <br/><br/>
    </div> 
  </section>
  <!-- Blog Ends -->
{% endblock content %}