{% extends 'layout.html' %}
{% block content %}
  <!-- Home -->
  <section id="faqs">
    <div></div>

    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">Reiki FAQs</h1>
                        <!--<img class="img-fluid" src="static/img/sol.jpg">-->
                    </div>
                    <div class="text"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-bs-parallax-bg="true" style="height:500px;background-image:url(static/img/home-sun.jpg);background-position:center;background-size:cover;"></div>
    <p></p>
    <br/>


    <div class="row">
        <div class="col-lg-9 mx-auto">
          <!-- Accordion -->
          <div id="accordionExample" class="accordion shadow">
    
            <!-- Accordion item 1 -->
            <div class="card">
              <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">What is Reiki?</a></h6>
              </div>
              <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
                <div class="card-body p-5">
                  <p class="font-weight-light m-0">
                    <ul>
                        <li>Reiki is a system for directing the flow of energy in the body.</li>
                        <li>Reiki works to balance us physically, emotionally, mentally and spiritually.</li>
                        <li>Reiki integrates our whole being so that we feel a profound sense of wellness and inner peace.</li>
                        <li>The energy comes from Source energy, also called Universal energy or Oneness.</li>
                        <li>This energy is your life force, which is called ‘prana’ in yoga and ‘chi’ or ‘qi’ in Traditional Chinese Medicine. Many ancient traditional cultures had an understanding and name for this life force energy.</li>
                        <li>It’s a fast, safe and effective method to enhance the body’s natural ability to balance itself. Best of all, it’s completely natural.</li>
                    </ul>                 
                 </p>
                </div>
              </div>
            </div>
    
            <!-- Accordion item 2 -->
            <div class="card">
              <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Benefits</a></h6>
              </div>
              <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-5">
                  <p class="font-weight-light m-0">
                    <ul>
                        <li>Reduce fear</li>
                        <li>Reduce pain</li>
                        <li>Promote healing</li>
                        <li>Improve sleep quality</li>
                        <li>Experience deep relaxation</li>
                        <li>Support the body during Western medical treatments</li>
                        <li>Overcome emotional issues such as stress, anxiety and depression</li>
                        <li>Work deeply to correct chronic imbalances of the body, mind, heart and spirit</li>
                        <li>Improve all areas of your life through a journey of self-discovery</li>
                    </ul>                     
                </p>
                </div>
              </div>
            </div>
    
            <!-- Accordion item 3 -->
            <div class="card">
              <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">What Reiki feels like</a></h6>
              </div>
              <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-5">
                  <p class="font-weight-light m-0">
                    <ul>
                        <li>Reiki energy can often be felt in the body as tingling, warmth, buzzing or subtle vibration.</li>
                        <li>The sensation of energy moving in the body is what makes you feel vibrant and alive.</li>
                        <li>It’s deeply relaxing and instils an inner sense of peace.</li>
                        <li>Afterwards, you may feel clearer and lighter, and you may notice that people around you are kinder or more loving towards you.</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
    
            <!-- Accordion item 4 -->
            <div class="card">
                <div id="headingFour" class="card-header bg-white shadow-sm border-0">
                  <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Turn fear into love in Reiki</a></h6>
                </div>
                <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample" class="collapse">
                  <div class="card-body p-5">
                    <p class="font-weight-light m-0">
                        <ul>
                            <li>Reiki is the perfect antidote to fear and anxiety.</li>
                            <li>Fear is likely to be rising within us and surrounding us from other people and the media at this time of turmoil. Even if we don’t feel fear for ourselves, we may fear for our families and our older and very young relatives and friends. Many of us are empaths and may not be aware that we feel other people’s fear and emotions in our own bodies — as if it’s our own.</li>
                            <li>Because Reiki connects you to Universal energy/Source energy, it fills you with a deep sense of connection and love. Unconditional love is another way of describing Universal energy — they are one and the same. Love is healing, which is why channelling energy through Reiki is healing, and best of all, it fills you full of love — for yourself and for others around you.</li>
                            <li>But don’t just believe it — try it for yourself.</li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div>

            <!-- Accordion item 5 -->
            <div class="card">
                <div id="headingFive" class="card-header bg-white shadow-sm border-0">
                  <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">What to expect for in-person appointments</a></h6>
                </div>
                <div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample" class="collapse">
                  <div class="card-body p-5">
                    <p class="font-weight-light m-0">
                        <ul>
                            <li>Reiki is done fully clothed, with or without touch (according to your preference).</li>
                            <li>Usually treatments are done lying down, although short treatments can be done sitting in a chair.</li>
                            <li>Your practitioner will ask you about any issues you're experiencing or would like to work on during the session.</li>
                            <li>Afterwards, the practitioner will share their insights and may make suggestions to help you improve your physical, emotional, mental or spiritual wellbeing in your daily life.</li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div>

            <!-- Accordion item 6 -->
            <div class="card">
                <div id="headingSix" class="card-header bg-white shadow-sm border-0">
                  <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">What to expect for distance healing</a></h6>
                </div>
                <div id="collapseSix" aria-labelledby="headingSix" data-parent="#accordionExample" class="collapse">
                  <div class="card-body p-5">
                    <p class="font-weight-light m-0">
                        <ul>
                            <li>Distance healing, also called remote healing, is a very simple and easy way for your reiki practitioner to connect into your energy body for treatment.</li>
                            <li>All you need to do is to set aside the appointment time to lie down in your home, in bed or anywhere that's warm and comfy and where you can relax fully and be undisturbed.</li>
                            <li>Your reiki practitioner will contact you before the appointment to make sure you're ready, then you'll both turn off any devices for the duration of the treatment.</li>
                            <li>At a later time, the practitioner will share their insights and may make suggestions to help you improve your physical, emotional, mental or spiritual wellbeing in your daily life.</li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div>

            <!-- Accordion item 7 -->
            <div class="card">
                <div id="headingSeven" class="card-header bg-white shadow-sm border-0">
                  <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">How distance healing works</a></h6>
                </div>
                <div id="collapseSeven" aria-labelledby="headingSeven" data-parent="#accordionExample" class="collapse">
                  <div class="card-body p-5">
                    <p class="font-weight-light m-0">
                        <ul>
                            <li>Energy isn’t bound by time and space. It flows within us and through us continuously. Energy is universal - one and the same, everywhere - connecting all things into one big bundle of energy. It’s what yogis and Buddhists mean when they talk about 'Oneness'. The feeling of Oneness is the ability to feel like you're 'one' with everything around you. If you can feel energy moving inside you and through you, you can experience the sense of Oneness - of complete wellbeing and integration - for yourself. Reiki helps to connect you to this feeling.</li>
                            <li>As Einstein told us, E = mc2, or to translate into words, energy equals mass (times a constant). So, energy is matter and matter is energy. Energy and matter are interchangeable. Your body is matter, as is every other thing in the material world. Matter is just a denser form of energy.</li>
                            <li>Your being includes not just your physical body but also your energy body, or aura, which has layers such as your emotional body, mental body and spiritual body. Imbalances in the energy in any of these layers can be felt and shifted by your Reiki practitioner at any distance.</li>
                            <li>Distance is irrelevant with focussed attention, conscious awareness, and positive intention.</li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div>

            <!-- Accordion item 8 -->
            <div class="card">
                <div id="headingEight" class="card-header bg-white shadow-sm border-0">
                  <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Heal yourself</a></h6>
                </div>
                <div id="collapseEight" aria-labelledby="headingEight" data-parent="#accordionExample" class="collapse">
                  <div class="card-body p-5">
                    <p class="font-weight-light m-0">
                        <ul>
                            <li>Place your hands on or over areas of your body that need a bit of extra care and direct your focus and attention to that part. This allows the flow of energy to go to the parts of your being that need it most.</li>
                            <li>Connect to the sensations in your body - tingling, buzzing, warmth, subtle vibration. That's your life force, the feeling of aliveness, that comes from Universal energy flowing inside you.</li>
                            <li>Go to sleep at night with your hands resting anywhere that you feel pain or discomfort.</li>
                            <li>Subscribe to our email list and look out for Reiki Level I training.</li>
                            <li>Learn Reiki to heal yourself and your family, dig out emotional baggage and recharge your batteries. Achieve your loftiest dreams.</li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div>

            <!-- Accordion item 9 -->
            <div class="card">
                <div id="headingNine" class="card-header bg-white shadow-sm border-0">
                  <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Reiki training</a></h6>
                </div>
                <div id="collapseNine" aria-labelledby="headingNine" data-parent="#accordionExample" class="collapse">
                  <div class="card-body p-5">
                    <p class="font-weight-light m-0">
                        <p>At SolReiki, we help you to discover the power to heal yourself.</p>
                        <p>When you’re ready, we can train you to use Reiki for self-healing. You will also be able to help your loved ones — including children, older relatives and pets — because reiki is a safe, gentle and completely natural healing modality.</p>
                        <p>Become empowered to heal yourself and:</p>
                        <ul>
                            <li>manage your own anxiety and depression</li>
                            <li>stay calm in the face of the adversity</li>
                            <li>keep a clear mind to focus on priorities</li>
                            <li>feel relaxed and at ease in your body</li>
                            <li>enjoy a pervasive feeling of wellbeing.</li>
                        </ul>
                    </p>
                  </div>
                </div>
            </div>

            <!-- Accordion item 10 -->
            <div class="card">
                <div id="headingTen" class="card-header bg-white shadow-sm border-0">
                  <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">What does the research say?</a></h6>
                </div>
                <div id="collapseTen" aria-labelledby="headingTen" data-parent="#accordionExample" class="collapse">
                  <div class="card-body p-5">
                    <p class="font-weight-light m-0">

                        <ul>
                            <li>Scientific research shows that Reiki is gentle and safe<sup>3</sup>, even for newborn babies<sup>13</sup>.</li>
                            <li>Reiki calms the nervous system to enable relaxation — by activating the parasympathetic nervous system<sup>3</sup> — which is necessary for the body to begin to heal itself.</li>
                            <li>Reiki improves positive emotions and eases breathing, alleviates anxiety and depression, and provides a greater sense of overall wellbeing<sup>5,6,7,9,10,12,14</sup>.</li>
                            <li>Reiki improves pain<sup>9,12</sup> — for example, slipped disc<sup>4</sup>, children with cancer<sup>12</sup>, knee replacement surgery<sup>14</sup>, chronic pain in military personnel<sup>9</sup>, end-of-life conditions<sup>10</sup>.</li>
                            <li>Reiki reduces tiredness and insomnia<sup>7,12</sup>.</li>
                            <li>Reiki can help to alleviate nausea and balance the appetite<sup>7,9,12</sup>.</li>
                            <li>Reiki is beneficial even as a single treatment to improve multiple measures of physical and psychological health<sup>10,14,15</sup>.</li>
                            <li>Quality of life and daily functioning is improved by Reiki<sup>4,9,10,15</sup>.</li>
                            <li>Reiki is being used in many hospitals around the world in integrative medicine practices.</li>
                        </ul>
                        <br/>
                        <h5>Reference</h5>
                        <ol style="font-size:13px">
                            <li>
                            ‘<b>Quantum physics</b> teaches us there is <b>no difference between energy and matter</b>. All systems in the human being, from the atomic to the molecular level, are constantly in motion-creating resonance. This resonance is important to understanding how subtle energy directs and maintains health and wellness in the human being. <b>Energy medicine</b> (EM), whether human touch or device-based, <b>is the use of known subtle energy fields to therapeutically assess and treat energetic imbalances</b>, bringing the body’s systems back to homeostasis (balance).’
                            <br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Ross%20CL%5BAuthor%5D&cauthor=true&cauthor_uid=30834177" target="_blank">
                            <font color="#7f9a6e">    
                                Christina L Ross
                            </font>
                            </a>
                            <br/>
                            Energy Medicine: Current Status and Future Perspectives<br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6396053/" target="_blank">
                                <font color="#7f9a6e">    
                                    Glob Adv Health Med.
                                </font>
                            </a>
                             2019; 8: 2164956119831221.<br/>
                            Published online 2019 Feb 27. doi: 
                            <a href="https://dx.doi.org/10.1177%2F2164956119831221" target="_blank">
                                <font color="#7f9a6e">    
                                    10.1177/2164956119831221
                                </font>
                            </a>
                            <br/>                           
                            </li>
                            <br/>

                            <li>
                            Energy Medicine is an engaging book that bridges science and Eastern philosophy in a fascinating, easy-to-read narrative.
                            <br/>
                            Jill Blakeway<br/>
                            Energy Medicine: The Science and Mystery of Healing<br/>
                            HarperWave. April 2, 2019<br/>
                            </li>
                            <br/>

                            <li>
                            A recent meta-study showed that ‘Reiki is a <b>safe and gentle</b> “complementary” therapy that <b>activates the parasympathetic nervous system</b> to heal body and mind. It has potential for <b>broader use in management of chronic health conditions</b>, and possibly in <b>postoperative recovery</b>.’ 
                            <br/>
                            <a href="https://journals.sagepub.com/action/doSearch?target=default&ContribAuthorStored=McManus%2C+David+E" target="_blank">
                                <font color="#7f9a6e">    
                                    David E. McManus
                                </font>
                            </a>
                            <br/> 
                            Reiki Is Better Than Placebo and Has Broad Potential as a Complementary Health Therapy<br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5871310/" target="_blank">
                                <font color="#7f9a6e">    
                                    J Evid Based Complementary Altern Med.
                                </font>
                            </a>                           
                             2017 Oct; 22(4): 1051–1057. doi: 
                             <a href="https://dx.doi.org/10.1177%2F2156587217728644" target="_blank">
                                <font color="#7f9a6e">    
                                    10.1177/2156587217728644
                                </font>
                            </a>                               
                             <br/>
                            </li>
                            <br/>
                            
                            <li>
                            In people with lower back pain due to a slipped disc, Reiki is more effective than drugs at reducing pain and improving daily functioning. Reiki is just as good as physiotherapy for pain relief and functioning. However, Reiki is more cost-effective and a faster treatment than physiotherapy. 
                            <br/>
                            <a href="https://journals.sagepub.com/doi/10.1177/2515690X18762745" target="_blank">
                                <font color="#7f9a6e">    
                                Farnaz Jahantiqh,
                                </font>
                            </a>
                            <a href="https://journals.sagepub.com/doi/10.1177/2515690X18762745" target="_blank">
                                <font color="#7f9a6e">    
                                 Abdolghani Abdollahimohammad,
                                </font>
                            </a>
                            <a href="https://journals.sagepub.com/doi/10.1177/2515690X18762745" target="_blank">
                                <font color="#7f9a6e">    
                                 Mohammadreza Firouzkouhi,
                                </font>
                            </a>
                            <a href="https://journals.sagepub.com/doi/10.1177/2515690X18762745" target="_blank">
                                <font color="#7f9a6e">    
                                 Vahid Ebrahiminejad
                                </font>
                            </a>
                            <br/>
                            Effects of Reiki Versus Physiotherapy on Relieving Lower Back Pain and Improving Activities Daily Living of Patients With Intervertebral Disc Hernia<br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5871054/" target="_blank">
                                <font color="#7f9a6e">    
                                 J Evid Based Integr Med.
                                </font>
                            </a>                                                      
                             2018; 23: 2515690X18762745. doi: 
                             <a href="https://dx.doi.org/10.1177%2F2515690X18762745" target="_blank">
                                <font color="#7f9a6e">    
                                10.1177/2515690X18762745
                                </font>
                            </a>            
                            <br/>
                            </li>
                            <br/>

                            <li>
                            ‘The participants with high anxiety and/or depression who received Reiki showed a progressive improvement in overall mood, which was significantly better at five-week follow-up, while no change was seen in the controls.’
                            <br/>

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Bowden%20D%5BAuthor%5D&cauthor=true&cauthor_uid=21584234" target="_blank">
                                <font color="#7f9a6e">    
                                    Deborah Bowden,
                                </font>
                            </a>                
                            <sup>*</sup>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Goddard%20L%5BAuthor%5D&cauthor=true&cauthor_uid=21584234" target="_blank">
                                <font color="#7f9a6e">    
                                    Lorna Goddard,
                                </font>
                            </a>   
                            and 
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Gruzelier%20J%5BAuthor%5D&cauthor=true&cauthor_uid=21584234" target="_blank">
                                <font color="#7f9a6e">    
                                    John Gruzelier
                                </font>
                            </a>                               
                            <br/>
                            A Randomised Controlled Single-Blind Trial of the Efficacy of Reiki at Benefitting Mood and Well-Being<br/>                            
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3092553/" target="_blank">
                                <font color="#7f9a6e">    
                                    Evid Based Complement Alternat Med.
                                </font>
                            </a>                                
                    
                            2011; 2011: 381862. doi: 
 
                            <a href="https://dx.doi.org/10.1155%2F2011%2F381862" target="_blank">
                                <font color="#7f9a6e">    
                                    10.1155/2011/381862
                                </font>
                            </a>  
                            <br/>
                            </li>
                            <br/>
                            
                            <li>
                            ‘The ... administration of Reiki is effective in controlling preoperative anxiety levels and in preventing them from increasing.’
                            <br/>
                            
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Topdemir%20EA%5BAuthor%5D&cauthor=true&cauthor_uid=32107160" target="_blank">
                                <font color="#7f9a6e">    
                                    Topdemir EA 
                                </font>
                            </a><sup>1</sup>, 
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Saritas%20S%5BAuthor%5D&cauthor=true&cauthor_uid=32107160" target="_blank">
                                <font color="#7f9a6e">    
                                    Saritas S
                                </font>
                            </a><sup>2</sup>. 
                            <br/>
                                                        
                            The effect of preoperative Reiki application on patient anxiety levels.<br/>                            
                             <a href="https://www.ncbi.nlm.nih.gov/pubmed/32107160" target="_blank">
                                <font color="#7f9a6e">    
                                    Explore (NY).
                                </font>
                            </a>
                            2020 Jan 30. pii: S1550-8307(20)30040-9. doi: 10.1016/j.explore.2020.01.003.<br/>
                            </li>
                            <br/>

                            <li>
                            ‘Reiki can decrease pain, general discomfort, anxiety, insomnia, and nausea.’
                            <br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Jurkovich%20P%5BAuthor%5D&cauthor=true&cauthor_uid=32100622" target="_blank">
                                <font color="#7f9a6e">    
                                    Jurkovich P
                                </font>
                            </a><sup>1</sup>, 

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Watson%20S%5BAuthor%5D&cauthor=true&cauthor_uid=32100622" target="_blank">
                                <font color="#7f9a6e">    
                                    Watson S
                                </font>
                            </a><sup>2</sup>.

                            <br/>
                            Implementation of a Volunteer Reiki Program at an Academic Medical Center in the Midwest.<br/>
                            
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/32100622" target="_blank">
                                <font color="#7f9a6e">    
                                    J Holist Nurs. 
                                </font>
                            </a>
                            2020 Feb 26:898010120907734. doi: 10.1177/0898010120907734.<br/> 
                            </li>
                            <br/>

                            <li>
                            ‘Reiki has the ability to impact a variety of types of pain as well as positively impacting those activities of life that pain often interferes with. However, education and the opportunity to experience this energy healing modality are key for its acceptance in military health care facilities as well as more robust clinical studies within the military health care system to further assess its validity and efficacy.’
                            <br/>

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Gantt%20M%5BAuthor%5D&cauthor=true&cauthor_uid=31642490" target="_blank">
                                <font color="#7f9a6e">    
                                    Gantt M
                                </font>
                            </a><sup>1</sup>, 

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Orina%20JAT%5BAuthor%5D&cauthor=true&cauthor_uid=31642490" target="_blank">
                                <font color="#7f9a6e">    
                                    Orina JAT
                                </font>
                            </a><sup>2</sup>.                            
                            <br/>
                            Educate, Try, and Share: A Feasibility Study to Assess the Acceptance and Use of Reiki as an Adjunct Therapy for Chronic Pain in Military Health Care Facilities.<br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/31642490" target="_blank">
                                <font color="#7f9a6e">    
                                    Mil Med. 
                                </font>
                            </a>
                            2019 Oct 23. pii: usz271. doi: 10.1093/milmed/usz271.<br/> 
                            </li>
                            <br/>

                            <li>
                            A single Reiki treatment was sufficient to improve multiple physical and psychological measures. ‘Statistically significant improvements were observed for all outcome measures, including positive affect, negative affect, pain, drowsiness, tiredness, nausea, appetite, shortness of breath, anxiety, depression, and overall well-being.’
                            <br/>

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Dyer%20NL%5BAuthor%5D&cauthor=true&cauthor_uid=31638407" target="_blank">
                                <font color="#7f9a6e">    
                                    Dyer NL
                                </font>
                            </a><sup>1</sup>, 

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Baldwin%20AL%5BAuthor%5D&cauthor=true&cauthor_uid=31638407" target="_blank">
                                <font color="#7f9a6e">    
                                    Baldwin AL
                                </font>
                            </a><sup>2</sup>,  

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Rand%20WL%5BAuthor%5D&cauthor=true&cauthor_uid=31638407" target="_blank">
                                <font color="#7f9a6e">    
                                    Rand WL
                                </font>
                            </a><sup>3</sup>.                            
                            <br/>
                            A Large-Scale Effectiveness Trial of Reiki for Physical and Psychological Health.<br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/31638407" target="_blank">
                                <font color="#7f9a6e">    
                                    J Altern Complement Med. 
                                </font>
                            </a>                            
                            2019 Dec;25(12):1156-1162. doi: 10.1089/acm.2019.0022.<br/> 
                            </li>
                            <br/>
                            
                            <li>                        
                            ‘Reiki therapy is useful for relieving pain, decreasing anxiety/depression and improving quality of life in several conditions. Due to the small number of studies in palliative care, we were unable to clearly identify the benefits of Reiki therapy, but preliminary results tend to show some positive effects of Reiki therapy for the end-of-life population.’
                            <br/>

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Billot%20M%5BAuthor%5D&cauthor=true&cauthor_uid=30948444" target="_blank">
                                <font color="#7f9a6e">    
                                    Billot M
                                </font>
                            </a><sup>1,2</sup>, 

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Daycard%20M%5BAuthor%5D&cauthor=true&cauthor_uid=30948444" target="_blank">
                                <font color="#7f9a6e">    
                                    Daycard M
                                </font>
                            </a><sup>3</sup>,  

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Wood%20C%5BAuthor%5D&cauthor=true&cauthor_uid=30948444" target="_blank">
                                <font color="#7f9a6e">    
                                    Wood C
                                </font>
                            </a><sup>4</sup>,                               
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Tchalla%20A%5BAuthor%5D&cauthor=true&cauthor_uid=30948444" target="_blank">
                                <font color="#7f9a6e">    
                                    Tchalla A
                                </font>
                            </a><sup>5,2</sup>.                               
                            <br/>
                            Reiki therapy for pain, anxiety and quality of life.<br/>
                            
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/30948444" target="_blank">
                                <font color="#7f9a6e">    
                                    BMJ Support Palliat Care. 
                                </font>
                            </a>                                    
                            2019 Dec;9(4):434-438. doi: 10.1136/bmjspcare-2019-001775.<br/>
                            </li> 
                            <br/>

                            <li>
                            Reiki decreased pain in children with cancer undergoing stem cell transplantation. ‘[T]rained pediatric oncology nurses can insert Reiki into their clinical practice as a valid instrument for diminishing suffering from cancer in childhood.’
                            <br/>

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Zucchetti%20G%5BAuthor%5D&cauthor=true&cauthor_uid=31046557" target="_blank">
                                <font color="#7f9a6e">    
                                    Zucchetti G
                                </font>
                            </a><sup>1,2</sup>, 
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Candela%20F%5BAuthor%5D&cauthor=true&cauthor_uid=31046557" target="_blank">
                                <font color="#7f9a6e">    
                                    Candela F
                                </font>
                            </a><sup>2</sup>,  
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Bottigelli%20C%5BAuthor%5D&cauthor=true&cauthor_uid=31046557" target="_blank">
                                <font color="#7f9a6e">    
                                    Bottigelli C
                                </font>
                            </a><sup>1</sup>,   
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Campione%20G%5BAuthor%5D&cauthor=true&cauthor_uid=31046557" target="_blank">
                                <font color="#7f9a6e">    
                                    Campione G
                                </font>
                            </a><sup>1</sup>, 
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Parrinello%20A%5BAuthor%5D&cauthor=true&cauthor_uid=31046557" target="_blank">
                                <font color="#7f9a6e">    
                                    Parrinello A
                                </font>
                            </a><sup>1</sup>,  
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Piu%20P%5BAuthor%5D&cauthor=true&cauthor_uid=31046557" target="_blank">
                                <font color="#7f9a6e">    
                                    Piu P
                                </font>
                            </a><sup>1</sup>,   
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Vassallo%20E%5BAuthor%5D&cauthor=true&cauthor_uid=31046557" target="_blank">
                                <font color="#7f9a6e">    
                                    Vassallo E
                                </font>
                            </a><sup>1</sup>,                               
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Fagioli%20F%5BAuthor%5D&cauthor=true&cauthor_uid=31046557" target="_blank">
                                <font color="#7f9a6e">    
                                    Fagioli F
                                </font>
                            </a><sup>1,2</sup>.  
                            
                            <br/>
                            The Power of Reiki: Feasibility and Efficacy of Reducing Pain in Children With Cancer Undergoing Hematopoietic Stem Cell Transplantation.<br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/31046557" target="_blank">
                                <font color="#7f9a6e">    
                                    J Pediatr Oncol Nurs. 
                                </font>
                            </a>                                     
                            2019 Sep/Oct;36(5):361-368. doi: 10.1177/1043454219845879.<br/> 
                            </li>
                            <br/>
                            
                            <li>
                            ‘Reiki and massage clinically provide similar improvements in pain, nausea, fatigue, anxiety, depression, and overall well-being while reiki improved fatigue and anxiety more than massage therapy in a heterogeneous hospitalized patient population.’ 
                            <br/>

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Vergo%20MT%5BAuthor%5D&cauthor=true&cauthor_uid=29620922" target="_blank">
                                <font color="#7f9a6e">    
                                    Vergo MT
                                </font>
                            </a><sup>1,2</sup>, 
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Pinkson%20BM%5BAuthor%5D&cauthor=true&cauthor_uid=29620922" target="_blank">
                                <font color="#7f9a6e">    
                                    Pinkson BM
                                </font>
                            </a><sup>1</sup>,  
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Broglio%20K%5BAuthor%5D&cauthor=true&cauthor_uid=29620922" target="_blank">
                                <font color="#7f9a6e">    
                                    Broglio K
                                </font>
                            </a><sup>1,2</sup>,   
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Li%20Z%5BAuthor%5D&cauthor=true&cauthor_uid=29620922" target="_blank">
                                <font color="#7f9a6e">    
                                    Li Z
                                </font>
                            </a><sup>3</sup>,                               
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Tosteson%20TD%5BAuthor%5D&cauthor=true&cauthor_uid=29620922" target="_blank">
                                <font color="#7f9a6e">    
                                    Tosteson TD
                                </font>
                            </a><sup>3</sup>.                              
                            <br/>
                            Immediate Symptom Relief After a First Session of Massage Therapy or Reiki in Hospitalized Patients: A 5-Year Clinical Experience from a Rural Academic Medical Center.<br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/29620922" target="_blank">
                                <font color="#7f9a6e">    
                                    J Altern Complement Med.
                                </font>
                            </a>                                   
                            2018 Aug;24(8):801-808. doi: 10.1089/acm.2017.0409.<br/> 
                            </li>
                            <br/>

                            <li>
                            ‘This pilot study addresses feasibility and demonstrates that Reiki is safe when administered to this high-risk population [newborns at risk of neonatal abstinence syndrome].’ 
                            <br/>

                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Radziewicz%20RM%5BAuthor%5D&cauthor=true&cauthor_uid=29315084" target="_blank">
                                <font color="#7f9a6e">    
                                    Radziewicz RM
                                </font>
                            </a><sup>1</sup>, 
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Wright-Esber%20S%5BAuthor%5D&cauthor=true&cauthor_uid=29315084" target="_blank">
                                <font color="#7f9a6e">    
                                    Wright-Esber S
                                </font>
                            </a>,  
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Zupancic%20J%5BAuthor%5D&cauthor=true&cauthor_uid=29315084" target="_blank">
                                <font color="#7f9a6e">    
                                    Zupancic J
                                </font>
                            </a>,   
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Gargiulo%20D%5BAuthor%5D&cauthor=true&cauthor_uid=29315084" target="_blank">
                                <font color="#7f9a6e">    
                                    Gargiulo D
                                </font>
                            </a>,                               
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Woodall%20P%5BAuthor%5D&cauthor=true&cauthor_uid=29315084" target="_blank">
                                <font color="#7f9a6e">    
                                    Woodall P
                                </font>
                            </a>.  
                            <br/>

                            Safety of Reiki Therapy for Newborns at Risk for Neonatal Abstinence Syndrome.<br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/29315084" target="_blank">
                                <font color="#7f9a6e">    
                                    Holist Nurs Pract.
                                </font>
                            </a>                                

                            2018 Mar/Apr;32(2):63-70. doi: 10.1097/HNP.0000000000000251.<br/>
                            </li>
                            <br/>

                            <li>
                            After knee replacement, ‘[o]f the 3 groups, Reiki, Sham Reiki, and Standard of Care, only the Reiki group showed significant reductions in pain, blood pressure, respiration rate, and state anxiety, which provides evidence for a full-scale clinical study.’
                            <br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Baldwin%20AL%5BAuthor%5D&cauthor=true&cauthor_uid=28181973" target="_blank">
                                <font color="#7f9a6e">    
                                    Baldwin AL
                                </font>
                            </a><sup>1</sup>, 
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Vitale%20A%5BAuthor%5D&cauthor=true&cauthor_uid=28181973" target="_blank">
                                <font color="#7f9a6e">    
                                    Vitale A
                                </font>
                            </a>,  
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Brownell%20E%5BAuthor%5D&cauthor=true&cauthor_uid=28181973" target="_blank">
                                <font color="#7f9a6e">    
                                    Brownell E
                                </font>
                            </a>,   
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Kryak%20E%5BAuthor%5D&cauthor=true&cauthor_uid=28181973" target="_blank">
                                <font color="#7f9a6e">    
                                    Kryak E
                                </font>
                            </a>,                               
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Rand%20W%5BAuthor%5D&cauthor=true&cauthor_uid=28181973" target="_blank">
                                <font color="#7f9a6e">    
                                    Rand W
                                </font>
                            </a>.  
                            <br/>
                            Effects of Reiki on Pain, Anxiety, and Blood Pressure in Patients Undergoing Knee Replacement: A Pilot Study.<br/>
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/28181973" target="_blank">
                                <font color="#7f9a6e">    
                                    Holist Nurs Pract.
                                </font>
                            </a>    
                            2017 Mar/Apr;31(2):80-89. doi: 10.1097/HNP.0000000000000195.<br/>
                            </li>
                            <br/>

                            <li>
                            ‘[P]articipants reported life-changing experiences, including a greater ability to cope with addictions, a greater ability to manage counseling, healing of wounds, improvement of T-cell counts, and improved skills of daily living.’
                            <br/>
                             
                             
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Mehl-Madrona%20L%5BAuthor%5D&cauthor=true&cauthor_uid=22058669" target="_blank">
                                <font color="#7f9a6e">    
                                    Lewis Mehl-Madrona,
                                </font>
                            </a>,                               
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Renfrew%20NM%5BAuthor%5D&cauthor=true&cauthor_uid=22058669" target="_blank">
                                <font color="#7f9a6e">    
                                    Nita M Renfrew,
                                </font>
                            </a>.                              
                            and 
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Mainguy%20B%5BAuthor%5D&cauthor=true&cauthor_uid=22058669" target="_blank">
                                <font color="#7f9a6e">    
                                    Barbara Mainguy
                                </font>
                            </a>.    
                            <br/>
                            Qualitative Assessment of the Impact of Implementing Reiki Training in a Supported Residence for People Older Than 50 Years with HIV/AIDS<br/>
                             
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3200100/" target="_blank">
                                <font color="#7f9a6e">    
                                    Perm J.
                                </font>
                            </a>                               
                            
                            2011 Summer; 15(3): 43–50. doi: 
                            <a href="https://dx.doi.org/10.7812%2Ftpp%2F10-152" target="_blank">
                                <font color="#7f9a6e">    
                                    10.7812/tpp/10-152
                                </font>
                            </a>                                  
                            <br/>
                            </li>

                        </ol>


                    </p>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
      <p></p>
      <p></p>
    </section>
</section>
  <!-- Home Ends -->
{% endblock content %}