<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SolReiki</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap"
    rel="stylesheet"
  />
  <!-- START NAV -->

  <nav id="navbar" class="nav">
    <div class="logo">
    </div>
    <ul class="nav-list">
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#projects">Treatments</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
  
  <!-- END NAV -->

  <!-- START HOME SECTION -->
  
  <section id="home" class="home-section">
    <div class="home-section-header">
      <h2>SolReiki</h2>
      <h3>Development ongoing........</h3>
    </div>
    <div class="home-links">
      <a
        href="https://www.facebook.com/solreikipower/"
        target="_blank"
        class="btn home-details"
        ><i class="fab fa-facebook"></i> Facebook</a
      >
      <a
        href="https://www.instagram.com/solreikipower/"
        target="_blank"
        class="btn home-details"
        ><i class="fab fa-instagram"></i> Instagram</a
      >
      <a
        href="https://www.instagram.com/solreikipower/"
        target="_blank"
        class="btn home-details"
        ><i class="fab fa-youtube"></i> YouTube</a
      >
    </div>
  </section>


  <!-- START PROJECTS SECTION -->
  
  <section id="projects" class="projects-section">
    <h2 class="projects-section-header">Treatments</h2>
  
    <div class="projects-grid">
      <a
        href="#"
        class="project project-tile"
      >
        <p class="project-title">
          <span class="code">&lt;</span>
          Treatment 1
          <span class="code">&#47;&gt;</span>
        </p>
      </a>
      <a
        href="#"
        class="project project-tile"
      >
        <p class="project-title">
          <span class="code">&lt;</span>
          Treatment 2
          <span class="code">&#47;&gt;</span>
        </p>
      </a>
      <a
        href="#"
        class="project project-tile"
      >
        <p class="project-title">
          <span class="code">&lt;</span>
          Treatment 3
          <span class="code">&#47;&gt;</span>
        </p>
      </a>
      <a
        href="#"
        class="project project-tile"
      >
        <p class="project-title">
          <span class="code">&lt;</span>
          Treatment 4
          <span class="code">&#47;&gt;</span>
        </p>
      </a>
      <a
        href="#"
        class="project project-tile"
      >
        <p class="project-title">
          <span class="code">&lt;</span>
          Treatment 5
          <span class="code">&#47;&gt;</span>
        </p>
      </a>
      <a
        href="#"
        class="project project-tile"
      >
        <p class="project-title">
          <span class="code">&lt;</span>
          Treatment 6
          <span class="code">&#47;&gt;</span>
        </p>
      </a>
    </div>
  </section> 
  <!-- END PROJECTS SECTION -->
  
  <!-- START CONTACT SECTION -->
  
  <section id="contact" class="contact-section">
    <div class="contact-section-header">
      <h2>Let's have a chat</h2>
      <p>How do you take your coffee?</p>
    </div>
    <div class="home-links">
      <a
        href="https://www.facebook.com/solreikipower/"
        target="_blank"
        class="btn home-details"
        ><i class="fab fa-facebook"></i> Facebook</a
      >
      <a
        href="https://www.instagram.com/solreikipower/"
        target="_blank"
        class="btn home-details"
        ><i class="fab fa-instagram"></i> Instagram</a
      >
      <a
        href="https://www.instagram.com/solreikipower/"
        target="_blank"
        class="btn home-details"
        ><i class="fab fa-youtube"></i> YouTube</a
      >
    </div>
  </section>
  
  <!-- END CONTACT SECTION -->
  
  <!-- START FOOTER SECTION -->

  <footer>
  <p>
    <a href="https://www.code.sydney" target="_blank">Web development by Code.Sydney Pty Ltd</a>
  </p>
  
  </footer>

<!-- END FOOTER SECTION -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>