{% extends 'layout.html' %}
{% block content %}
  <!-- Home -->
  <section id="home">
    <div></div>
    <div class="article-clean">
      <!-- <div class="container">
          <div class="row">
              <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                  <div class="intro">
                      <h1 class="text-center">SolReiki</h1>
                  </div>
                  <div class="text"></div>
              </div>
          </div>
      </div> -->
      <div class="container-top">
          <div class="large-text">
              <img class="circle" src="/static/img/circle.png" alt="yellow circle">
              <h1>SolReiki</h1>
              <h2>FEEL RELAXED, RECHARGED &amp; REJUVENATED</h2>
          </div>
          <div class="text-box-left">
              <p>Do you feel stressed? Anxious?
                Unwell or suffering pain?
                Then Reiki may alleviate your struggles.</p>
              <p>Discover the wonders of Reiki healing and open
                yourself to feeling:</p>
                <ul>
                    <li>less fear and anxiety</li>
                    <li>calmer emotions</li>
                    <li>greater balance in the body</li>
                    <li>clearer mind</li>
                    <li>more relaxed</li>
                    <li>reduced pain.</li>
                </ul>
                <button class="read-more-button">Read more...</button>
          </div>
      </div>
      <div class="container-middle">
          <h1>Energy healing for everyone.
            Access safe and effective distance healing in your own home whenever you need it
            most.</h1>
      </div>
      <div class="container-bottom">
        <div class="bottom-text">
            <p>Reiki is a direct and gentle way of promoting stress relief and deep relaxation and
                supports healing without requiring physical touch.
                Reiki is a form of energy healing from Japan that has its roots in Buddhism. This
                ancient practice is ideal for the modern world because it&#39;s a fast and effective way to
                improve wellness. Reiki simply uses specific meditation techniques to facilitate
                energy movement within and through the body. This extra available energy supports
                the body’s own mechanisms of healing. Studies in quantum physics and energy
                medicine have shown how Reiki and distance healing works 1,2 .
                Never tried Reiki?
                Receive a treatment from one of our expert practitioners and discover your own
                experience. Reiki with us provides you with tips to heal yourself.</p>
      </div>
  </div>
  <!-- <div data-bs-parallax-bg="true" style="height:500px;background-image:url(static/img/sol.jpg);background-position:center;background-size:cover;"></div> -->
  <p></p>
  </section>
  <!-- Home Ends -->
{% endblock content %}