{% extends 'layout.html' %}
{% block content %}
  <!-- Practitioners -->
  <section id="practitioners">
    <div></div>
    <div class="article-clean">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                  <div class="intro">
                      <h1 class="text-center">Practitioners</h1>
                      <!--<img class="img-fluid" src="static/img/sol.jpg">-->
                  </div>
                  <div class="text"></div>
              </div>
          </div>
      </div>
  </div>
  <div data-bs-parallax-bg="true" style="height:500px;background-image:url(static/img/sol.jpg);background-position:center;background-size:cover;"></div>
  <p></p>
  </section>
  <!-- Practitioners Ends -->
{% endblock content %}