{% extends 'layout.html' %}
{% block content %}
  <!-- Practitioners -->
  <section id="Practitioners">
    <div class="container">

        <div></div>
        <div class="article-clean">
          <div class="container">
              <div class="row">
                  <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                      <div class="intro">
                          <h1 class="text-center">Practitioners</h1>
                      </div>
                      <div class="text"></div>
                  </div>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12 offset-xl-0">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 text-center"><img class="img-fluid border rounded shadow" src="static/img/adam.png"></div>
                            <div class="col">
                                <div class="card-heading">
                                    <p class="mt-2"><strong>Adam Baldwin</strong></p>
                                </div>
                                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo leo, maximus nec placerat ac, ultrices eget massa. Sed viverra velit tortor, id venenatis eros pellentesque varius. Nulla tristique enim ac purus aliquet
                                    efficitur. Nunc ultrices est sit amet augue fringilla porttitor. Vivamus efficitur justo at sapien condimentum rutrum. Duis tincidunt erat elit, sit amet vulputate turpis congue et. Sed venenatis tristique mauris sed
                                    eleifend. Nulla malesuada dolor et dui dapibus, eu porta velit egestas. Sed molestie, lectus in luctus maximus, leo erat aliquet libero, id congue purus libero et mi. Sed quis luctus odio, ut accumsan massa. Praesent
                                    vestibulum cursus congue. Vivamus tempus ultricies velit non pulvinar.</p>
                                <div class="row">
                                    <div class="col"><button onclick="window.open('https://codesydney.book.app/book-now/service/562910', '_blank')" class="btn btn-outline-dark btn-block my-button" type="submit">Schedule a session with Adam</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12 offset-xl-0">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 text-center"><img class="img-fluid border rounded shadow" src="static/img/adele.png"></div>
                            <div class="col">
                                <div class="card-heading">
                                    <p class="mt-2"><strong>Adele Vincent</strong></p>
                                </div>
                                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo leo, maximus nec placerat ac, ultrices eget massa. Sed viverra velit tortor, id venenatis eros pellentesque varius. Nulla tristique enim ac purus aliquet
                                    efficitur. Nunc ultrices est sit amet augue fringilla porttitor. Vivamus efficitur justo at sapien condimentum rutrum. Duis tincidunt erat elit, sit amet vulputate turpis congue et. Sed venenatis tristique mauris sed
                                    eleifend. Nulla malesuada dolor et dui dapibus, eu porta velit egestas. Sed molestie, lectus in luctus maximus, leo erat aliquet libero, id congue purus libero et mi. Sed quis luctus odio, ut accumsan massa. Praesent
                                    vestibulum cursus congue. Vivamus tempus ultricies velit non pulvinar.</p>
                                <div class="row">
                                    <div class="col"><button onclick="window.open('https://codesydney.book.app/book-now/service/562911', '_blank')" class="btn btn-outline-dark btn-block my-button" type="submit">Schedule a session with Adele</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12 offset-xl-0">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 text-center"><img class="img-fluid border rounded shadow" src="static/img/nid.png"></div>
                            <div class="col">
                                <div class="card-heading">
                                    <p class="mt-2"><strong>Nid Ra</strong></p>
                                </div>
                                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo leo, maximus nec placerat ac, ultrices eget massa. Sed viverra velit tortor, id venenatis eros pellentesque varius. Nulla tristique enim ac purus aliquet
                                    efficitur. Nunc ultrices est sit amet augue fringilla porttitor. Vivamus efficitur justo at sapien condimentum rutrum. Duis tincidunt erat elit, sit amet vulputate turpis congue et. Sed venenatis tristique mauris sed
                                    eleifend. Nulla malesuada dolor et dui dapibus, eu porta velit egestas. Sed molestie, lectus in luctus maximus, leo erat aliquet libero, id congue purus libero et mi. Sed quis luctus odio, ut accumsan massa. Praesent
                                    vestibulum cursus congue. Vivamus tempus ultricies velit non pulvinar.</p>
                                <div class="row">
                                    <div class="col"><button onclick="window.open('https://codesydney.book.app/book-now/service/562912', '_blank')" class="btn btn-outline-dark btn-block my-button" type="submit">Schedule a session with Nid</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </section>
  <!-- Practitioners Ends -->
{% endblock content %}