{% extends 'layout.html' %}
{% block content %}
  <!-- Testimonials -->
  <section id="testimonials">
    <div></div>
    <div class="article-clean">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                  <div class="intro">
                      <h1 class="text-center">Testimonials</h1>
                  </div>
              <div class="text"></div>
           </div>
        </div>
     </div>
    </div>
    <div class="projects-horizontal">
      <div class="container">
        <!--
          <div class="intro">
              <h2 class="text-center">Testimonials </h2>
              <p class="text-center"></p>
          </div>
        -->
          <div class="row projects">
              <div class="col-sm-6 item">
                  <div class="row">
                      <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
                      <div class="col">
                        <p class="description">‘I had very rejuvenating and insightful reiki sessions with Adele, both face to face and distant. I could feel the energy moving through me, and fell asleep at some point. After the session, I felt a lot more relaxed, and had a sense of energy being shifted and heightened clarity. Adele also shared some of her experience from the healing sessions which I found very insightful. She also helped me with a recent back injury. After the session, I felt a lot lighter and recovered in less than a week. I highly recommend healing sessions with Adele.’</p>
                        <p class="title"><h5>Carine</h5></p>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 item">
                <div class="row">
                    <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
                    <div class="col">
                      <p class="description">‘Adele gave me a short but blissful reiki treatment while I was sitting at my desk in the busy school reception. She focused on my shoulder, neck and upper back because it's still painful from shoulder surgery 18 months ago. The reiki felt great and relaxed my whole upper body, even though there were people coming and going and talking to me. Afterwards I felt so relaxed and really cared for. Adele has magic hands!’</p>
                      <p class="title"><h5>Melanie</h5></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
              <div class="row">
                  <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
                  <div class="col">
                    <p class="description">‘Last night I had a lovely remote reiki session with Adele, she picked up that my asthma had been bad recently and worked on my lungs. She also did a chakra balance and helped me to feel grounded. I fell asleep at the end of the session as it was so relaxing. I had a deep sleep and woke up feeling so much lighter. I loved the feedback and insights that Adele gave me after the session along with advice on how I can balance my own chakras and stay grounded. I loved my session and highly recommend Adele and SolReiki.’</p>
                    <p class="title"><h5>Christine</h5></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 item">
            <div class="row">
                <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
                <div class="col">
                  <p class="description">‘‘Recently I had my first Reiki session with Adele face to face. I have never experienced anything like that. During the healing I could feel an intense heat and coldness at some parts of my body. Afterwards Adele explained to me that my body attracting her palms into those areas where it needs the reiki energy. She also gave me an insight with advice on how I can re-balance my emotions which was very helpful. I felt very relaxed and light. I had my energy re-charged and I had a very positive day after the session. Adele is a professional and passionate healer and I highly recommend her healing session. Thank you Adele’.</p>
                  <p class="title"><h5>Patricia</h5></p>
                </div>
            </div>
          </div>
          <div class="col-sm-6 item">
            <div class="row">
                <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
                <div class="col">
                  <p class="description">‘I had a great Reiki session with Adam last night after being so tired from work he completely relaxed my body and i slept like a baby. Very vivid dreams after the session. Thank you Adam and I can definitely recommend his healing.’</p>
                  <p class="title"><h5>Tanya</h5></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 item">
          <div class="row">
              <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
              <div class="col">
                <p class="description">‘Absolutely loved the distant Reiki healing with Adam. The session was so powerful, I could feel the energy running through me, the energy was so strong I fell asleep at one point and woke up feeling rejuvenated. Adam is a gifted, trustworthy and powerful healer. I highly recommended!’</p>
                <p class="title"><h5>Ness</h5></p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="row">
              <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
              <div class="col">
                <p class="description">‘Adam gave me an amazing treatment. He energetically scanned my body and could tell that I am not carrying any mental blocks. when it came to my pelvic area he said he sensed something else; not a block but turns out I am pregnant. aside from reiki Adam is an incredible meditation practitioner, I would highly recommend sol reiki. In my own job as an acupuncturist I meet many people who discuss their health and personal problems with me, I find it essential to do different types of cleansing treatments to ensure I feel light and unburdened.’</p>
                <p class="title"><h5>Jacina</h5></p>
              </div>
           </div>
        </div>
        <div class="col-sm-6 item">
          <div class="row">
              <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
              <div class="col">
                <p class="description">‘I have been delighted to receive absent healing from Adam on several occasions.
                  I am a spiritual channel, medium and Master Teacher of different healing modalities so am used to seeing/feeling and indeed assessing the quality of healing chanelled by my students.
                  Adam is professional, sensitive, excellent healer. He worked across thousands of miles, sending intensive light energy that I both felt and saw clairvoyantly. Thank you Adam, I can highly recommend your services. Namaste.’</p>
                <p class="title"><h5>Angela</h5></p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="row">
              <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
              <div class="col">
                <p class="description">‘Adele and Adam both gave me distance reiki when I went to hospital for open heart surgery. Healing has been faster than expected and spirits much better than last time I had open heart surgery. Heart also feel stronger than last open heart surgery. It’s working! Thank you Adele and Adam.’</p>
                <p class="title"><h5>Sylvia</h5></p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="row">
              <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
              <div class="col">
                <p class="description">‘I LOVE my recording!! Utterly amazing, it’s like you are inside my head, heart and body❤.
                  You are a very special angel, thank you sooo much xxx’</p>
                <p class="title"><h5>Kathi</h5></p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="row">
              <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
              <div class="col">
                <p class="description">‘I certainly felt more relaxed and focused after the session. I’ve also noticed not so much discomfort around my sacrum.’</p>
                <p class="title"><h5>TK</h5></p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="row">
              <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
              <div class="col">
                <p class="description">‘Thanks for the healing, I really enjoyed listening to it. Loved the waves breaking in the
                  shore and busy birdsong. In particular, I liked the bit about resting my eyes and being myself
                  in work to create more loving relationships. At times, I felt exposed. Wonderful, so positive.’</p>
                <p class="title"><h5>Patricia</h5></p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="row">
              <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
              <div class="col">
                <p class="description">‘Thank you so much for the lovely session yesterday. I really enjoyed it, I do reiki to myself
                  but it’s really nice to be able to relax and receive a session! It was quite strong, especially to
                  my legs which make sense of what you said about grounding!’</p>
                <p class="title"><h5>Mariana</h5></p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="row">
              <!-- <div class="col-md-6 col-lg-3"><a href="#"><img class="img-fluid" src="static/img/cs.png"></a></div> -->
              <div class="col">
                <p class="description">“Nid has some super powers and only a fool would not tap into them.”</p>
                <p class="title"><h5>P. Knott</h5></p>
              </div>
          </div>
        </div>
      </div>
  </div>
  </section>
  <!-- Testimonials Ends -->
{% endblock content %}