{% extends 'layout.html' %}
{% block content %}
  <!-- Treatments -->
  <section id="Treatments">
    <div class="container">

        <div></div>
        <div class="article-clean">
          <div class="container">
              <div class="row">
                  <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                      <div class="intro">
                          <h1 class="text-center">Treatments</h1>
                      </div>
                      <div class="text"></div>
                  </div>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12 offset-xl-0">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 text-center"><img class="img-fluid border rounded shadow" src="static/img/dip-your-toes.jpg"></div>
                            <div class="col">
                                <div class="card-heading">
                                     <p class="mt-2"><strong>Dip Your Toes</strong></p>
                                </div>
                                <p class="mt-2">
                                    A short reiki taster. Leave with your batteries recharged and your body relaxed like never before.
                                    <br/>
                                    <br/>
                                    $35
                                </p>
                                <div class="row">
                                    <div class="col"><button onclick="window.open('https://codesydney.book.app/book-now/service/561687', '_blank')" class="btn btn-outline-dark btn-block my-button" type="submit">Book now</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12 offset-xl-0">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 text-center"><img class="img-fluid border rounded shadow" src="static/img/lets-wade-in.jpg"></div>
                            <div class="col">
                                <div class="card-heading">
                                    <p class="mt-2"><strong>Let's Wade In</strong></p>
                                </div>
                                <p class="mt-2">
                                    Treat yourself to the blissful relaxation and gentle healing of a full reiki treatment. Experience the relief of a calm nervous system, re-balanced emotions and release from mental tensions. Work on a specific issue or have a general, whole-body energy cleanse. Bask in calm clarity for the rest of your day and sleep like a baby!
                                    <br/>
                                    <br/>
                                    $88
                                </p>
                                <div class="row">
                                    <div class="col"><button onclick="window.open('https://codesydney.book.app/book-now/service/561689', '_blank')" class="btn btn-outline-dark btn-block my-button" type="submit">Book now</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12 offset-xl-0">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 text-center"><img class="img-fluid border rounded shadow" src="static/img/deep-in-dive.jpg"></div>
                            <div class="col">
                                <div class="card-heading">
                                    <p class="mt-2"><strong>Deep In Dive</strong></p>
                                </div>
                                <p class="mt-2">
                                    Deepen the healing experience with ongoing support from your qualified, intuitive healer to:
                                    <br/><br/>
                                    -help overcome stress, anxiety and depression<br/> 
                                    -support healing during Western medical treatments<br/>
                                    -work deeply with chronic imbalances of the body, mind, heart and spirit<br/>
                                    -improve all areas of your life through a journey of self-discovery.<br/>
                                    <br/>
                                    <br/>
                                    $333
                                </p>
                                <div class="row">
                                    <div class="col"><button onclick="window.open('https://codesydney.book.app/book-now/service/561690', '_blank')" class="btn btn-outline-dark btn-block my-button" type="submit">Book now</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </section>
  <!-- Treatments Ends -->
{% endblock content %}