{% extends 'layout.html' %}
{% block content %}
  <!-- Treatments -->
  <section id="treatments">
    <div></div>
    <div class="article-clean">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                  <div class="intro">
                      <h1 class="text-center">Treatments</h1>
                  </div>
              <div class="text"></div>
           </div>
        </div>
     </div>
    </div>
    <div class="treatments-clean">
      <script src="//simplybook.me/v2/widget/widget.js"></script>
      <script>
        var widget = new SimplybookWidget({
            "widget_type": "iframe",
            "url": "https:\/\/codesydney.simplybook.me",
            "theme": "space",
            "theme_settings": {
                "sb_base_color": "#b2c2a8",
                "timeline_show_end_time": "0",
                "timeline_modern_display": "as_slots",
                "display_item_mode": "block",
                "dark_font_color": "#474747",
                "light_font_color": "#ffffff",
                "sb_company_label_color": "#ffffff",
                "hide_img_mode": "0",
                "show_sidebar": "0",
                "sb_busy": "#f2e0dc",
                "sb_available": "#e0e6dd"
            },
            "timeline": "modern_week",
            "datepicker": "top_calendar",
            "is_rtl": false,
            "app_config": {
                "predefined": []
            }
        }); 
      </script>
    </div>
  <!-- Treatment Ends -->
{% endblock content %}